body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px; /* Limit the width for better readability on larger screens */
    width: 100%;
}

.input-container {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

input[type=text] {
    flex: 1;
    height: 35px;
}

button {
    padding: 8px 16px;
    cursor: pointer;
}

button.close {
    padding: 5px;
    margin-left: 5px;
    border-radius: 5px;
    background: white;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 5px;
}

